

body {
    color: rgb(255, 255, 255);
    /* background: url(wal2.jpg);
    background-size: cover;*/
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    font-family: 'Courier New', Courier, monospace;

}



.navbar {
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;

}

.logo img {
    padding-top: 5px;
    padding-left: 4px;
    height: 70px;
}

.name {
    padding-left: 4px;
}

.name p {
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
}

.login {
    position: absolute;
    right: 0;
    padding-right: 40px;
}

.login p {
    font-size: 2vw;
}

.container1 {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 300px;
    left: 70px;
    height: 600px;
    width: 400px;
    border-radius: 65px;
    box-shadow: 3px 3px 10px 8px rgb(104, 4, 99);

}

.container1 p {
    font-size: 33px;
    padding: 40px;
    margin: 10px;
}





.container2 {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 300px;
    left: 550px;
    height: 600px;
    width: 400px;
    border-radius: 65px;
    box-shadow: 3px 3px 10px 8px rgb(104, 4, 99);
}

.container2 p {
    font-size: 33px;
    padding: 40px;
    margin: 10px;
}



.container3 {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 300px;
    left: 1030px;
    height: 600px;
    width: 400px;
    border-radius: 65px;
    box-shadow: 3px 3px 10px 8px rgb(104, 4, 99);
}

.container3 p {
    font-size: 33px;
    padding: 40px;
    margin: 10px;

}



.container4 {
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 150px;
    position: absolute;
    top: 470px;
    right: 0;
    border-top-left-radius: 65px;
    border-bottom-left-radius: 65px;
    box-shadow: 3px 3px 10px 8px rgb(209, 18, 12);
}

.container4 ul {
    list-style: none;
}

#Whatapp img {
    height: 110px;
    position: absolute;
    right: 18px;
    filter: brightness(80%);
}

#Whatapp img:hover {
    filter: brightness(40%);
}

#Instagram img {
    height: 110px;
    position: absolute;
    right: 18px;
    top: 160px;
    filter: brightness(80%);
}

#Instagram img:hover {
    filter: brightness(40%);
}

.click1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-top: 260px;
}


/*Red Click*/


.click1 p {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 18, 12);
    height: 30px;
    width: 195px;
    padding-top: 20px;
    border-radius: 65px;
    transition: 0.5s;
}


.click2 p {
    display: flex;
    margin-top: 285px;
    justify-content: center;
    margin-left: 60px;
    background-color: rgb(209, 18, 12);
    height: 30px;
    width: 195px;
    padding-top: 20px;
    border-radius: 65px;
    transition: 0.5s;
}

.click3 p {
    margin-top: 285px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    background-color: rgb(209, 18, 12);
    height: 30px;
    width: 195px;
    padding-top: 20px;
    border-radius: 65px;
    transition: 0.5s;
}

.click1 p:hover {
    background-color: rgb(4, 0, 19);
}

.click2 p:hover {
    background-color: rgb(4, 0, 19);
}

.click3 p:hover {
    background-color: rgb(4, 0, 19);
}